<main class="main">
    <div class="div_banca">
        <div class="div_banca_texto">
            <p> BANCA </p>
        </div>
    
        <div >
            <ul>
                @for (carta of cartas; track carta.id) {
                    <li class="div_formato_carta">
                        <img class="imagenLista" [src]="carta.src" >
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="div_apuesta">
        <div class="div_apuesta1">
            <img class="imagen_apuesta" src="../../../assets/sources/juego/ficha-de-saldo.png" >
            <h1 class="texto_apuesta"> Saldo: XXXX</h1>
        </div>
        <div class="div_apuesta1">
            <img class="imagen_apuesta" src="../../../assets/sources/juego/ficha-de-poker.png" >
            <h1 class="texto_apuesta"> Apuesta:{{apuesta}}</h1>
        </div>
    </div>

    @if (mostrarApuesta) {
        <form [formGroup]="form" (ngSubmit)="save($event)">
            <div class="div_apuesta_inicial">
                <h1>¿Cual va a ser su apuesta?</h1>
                <input type="number" formControlName="apuesta">
                <div *ngIf="form.get('apuesta')?.errors ">
                    <span class="div_mensaje_error" *ngIf="form.get('apuesta')?.hasError('required')">
                        Campo requerido
                    </span>
                    <span class="div_mensaje_error" *ngIf="form.get('apuesta')?.hasError('min')">
                        La apuesta minima es de 10 fichas
                    </span>
                </div>
                <button type="submit">Apostar</button>
            </div>
        </form>
    }
    
    <div class="div_jugador">
        <div >
            <ul>
                @for (carta of cartasUsu; track carta.id) {
                    <li class="div_formato_carta">
                        <img class="imagenLista" [src]="carta.src" >
                    </li>
                }
            </ul>
        </div>
    </div>

    <div id="div_botones">
        <button class="boton" >Pedir Carta</button>
        <button class="boton" >Plantarse</button>
    </div>
    

</main>
