<main>
    <app-cabecera></app-cabecera>    
    <div class="div_body">
        <div class="mensaje_bienvenida">
            <h1>Bienvenido a <em>CasinoLotus</em></h1>
            <h2>Elige el tipo de Sala </h2>
        </div>
        <div class="modos_juegos">
            <div class="modo">
                <img class="modo-img-top" src="../../../assets/sources/modo-juego/Un_Jugador1.png" alt="Cartas de póker">
                <div class="modo-body">
                    <p class="modo-text">1 Jugador</p>
                </div>
            </div>
            <div class="modo">
                <img class="modo-img-top" src="../../../assets/sources/modo-juego/partida_online.png" alt="Cartas de póker">
                <div class="modo-body">
                    <p class="modo-text">Sala Pública</p>
                </div>
            </div>
            <a [routerLink]="['/juego/creando-sala-privada']">
                <div class="modo">
                        <img class="modo-img-top" src="../../../assets/sources/modo-juego/blackjack.png" alt="Cartas de póker">
                        <div class="modo-body">
                            <p class="modo-text">Crear Sala Privada</p>
                        </div>
                </div>
            </a>
            <div class="modo">
                <img class="modo-img-top" src="../../../assets/sources/modo-juego/Partida-privada.png" alt="Fichas de póker">
                <div class="modo-body">
                    <p class="modo-text">Unirte Sala Privada</p>
                </div>
            </div>
        </div>
    </div>
</main>