<main class="main">
    <app-cabecera></app-cabecera>
    <nav class = "menu">
        <ul id="lista_nav">
            <li id="pagina"><a>Personal</a></li>
            <li><a>Historial</a></li>
            <li><a>Tienda</a></li>
        </ul>
    </nav>
    
    <div class="pantalla">
        <div class="perfil">
            <div><img src = "../../../assets/sources/inicio/avatarPorDefecto_01.png" alt="foto de perfil"></div>
            <div class="nombreUsuario">
                <input id="nombreinput" type="text" value="nombreUsuario">
                <img src = "../../../assets/sources/menu/guardar-el-archivo.png" alt="guardar cambios" id="fotoguardado">
            </div>
        </div>
        <div class="personalizables">
            <ul id = "lista_pers">
                <li><button (click)="verCartas()">Personalizar cartas</button></li>
                <li><button (click)="verAvatar()">Personalizar avatar</button></li>
            </ul>
        </div>
        <div class = "mostrar">
            @if (mostrarCartas) {
                <ul>
                    @for (carta of listaCartas; track carta.id) {
                        <li class="listaCondicion">
                            @if (carta.id == idCarta()) {
                                <button class="seleccionado">
                                    <img class="imagenLista" [src]="carta.src" alt="carta" />
                                </button>
                            }
                            @else {
                                <button>
                                    <img class="imagenLista" [src]="carta.src" alt="carta" />
                                </button>
                            }
                        </li>
                    }
                </ul>
            }
            @else if (mostrarAvatar) {
                <ul>
                    @for (avatar of listaAvatares; track avatar.id) {
                        <li class="listaCondicion">
                            @if (avatar.id == idAvatar()) {
                                <button class="seleccionado">
                                    <img class="imagenLista" [src]="avatar.src" alt="avatar" />
                                </button>
                            }
                            @else {
                                <button>
                                    <img class="imagenLista" [src]="avatar.src" alt="avatar" />
                                </button>
                            }
                        </li>
                    }
                </ul>
            }
            @else {}
        </div>
    </div>
</main>