<html>
    <head>
        <app-cabecera></app-cabecera>
    </head>
    <body>
        <nav class = "menu">
            <ul id="lista_nav">
                <li><a>Personal</a></li>
                <li><a>Historial</a></li>
                <li><a>Tienda</a></li>
            </ul>
        </nav>
        
        <div class="pantalla">
            <div class="perfil">
                <div><img src = "../../../assets/sources/inicio/avatarPorDefecto_01.png" alt="foto de perfil"></div>
                <div class="nombreUsuario">
                    <input id="nombreinput" type="text" value="nombreUsuario">
                    <img src = "../../../assets/sources/menu/guardar-el-archivo.png" alt="guardar cambios" id="fotoguardado">
                </div>
            </div>
            <div class="personalizables">
                <ul id = "lista_pers">
                    <li><a>Personalizar ficha</a></li>
                    <li><a>Personalizar cartas</a></li>
                    <li><a>Personalizar avatar</a></li>
                </ul>
            </div>
        </div>
        
    </body>
</html>