
main{
    margin: 0;
    padding: 0;
}
.main{
    font-family: var(--text-font);
    background-color: #00433D;
    width: 100vw;
    height: 100vh;
}

/*--------------BARRA DE NAVEGACION---------------*/

#pagina::after{
    content: "";
    display: block;
    background-color: var(--color-secundario);
    height: 3px;
    width: 100%;
}

.menu{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-family: var(--text-font);
}



.menu>#lista_nav>li{
    list-style: none;
    margin-right: 5vw;
    margin-left: 5vw;
    float: left; 
    position: relative;
}


.menu>#lista_nav>li>a{
    text-decoration: none;
    font-size: 40px;
    color: var(--color-secundario);
}

.menu>#lista_nav>li>a::before{
    width: 0%;
    background: var(--color-secundario);
    bottom: 0;
    position: absolute;
    height: 3px;
    display: block;
    content: "";
    transition: width 0.3s;
}

.menu>#lista_nav>li>a:hover{
    cursor: pointer;
}

.menu>#lista_nav>li>a:hover::before{
    width: 100%;
}
/*----------------------------------------------------*/

.pantalla{
    display: flex;
}

/*-------------------ZONA DEL PERFIL-----------------*/

.perfil{
    width: 25%;
    text-align: center;
    padding-top: 40px;
    height: 100%;
    position: relative;
}

/*Dibujo una linea a la derecha del div perfil*/
.perfil::after{
    content: "";
    display: block;
    background-color: var(--color-secundario);
    height: 100%;
    width: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.nombreUsuario{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#nombreinput{
    width: 200px;
    height: 20px;
    font-size: medium;
    align-items: center;
}

#fotoguardado{
    margin-left: 10px;
    align-self: center;
    width: 20px;
    height: 20px;
}

/*----------------------------------------------------*/

/*-------------------PERSONALIZABLES-----------------*/

.personalizables{
    display: flex;
    width: 25%;
    height: 100%;
}


#lista_pers>li{
    list-style: none;
    margin: 40px;
    margin-left: 70px;
    text-align: center;
    font-size: larger;
}

#lista_pers>li{
    text-decoration: none;
    color: var(--color-secundario);
}


#lista_pers>li>button{
    /*quito el estilo*/
    background-color: transparent;
    border-color: var(--color-secundario);
    border-style: solid;
    border-width: 4px;
    color: var(--color-secundario);
    font-size: large;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 8px;
}

#lista_pers>li>button:hover{
    cursor: pointer;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    transition: 0.4s;
}

/*----------------------------------------------------*/

/*-------------------MOSTRAR_PERSONALIZABLES-----------------*/

.mostrar{
    width: 45%;
    overflow-y: scroll;
    height: 60vh;
    padding: 0;/
}

.mostrar::-webkit-scrollbar{
    width: 10px;
}

.mostrar::-webkit-scrollbar-thumb{
    background-color: var(--color-secundario);
    border-radius: 10px;
}


.listaCondicion{
    list-style: none;
    display: flex;
    padding: 10px;
    display: inline;
}


.listaCondicion>button{
    width: 120px;
    height: 120px;
    margin: 5px;
    border: var(--color-secundario);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    background-color: var(--color-principal);
    padding: 0px;
}

.listaCondicion>.seleccionado{
    border-color: black;
    border-width: 6px;
}

.imagenLista{
    width: 100%;
    height: 100%;
    margin:0;
}
/*----------------------------------------------------*/