<main>
    <app-cabecera></app-cabecera>    
    <div class="div_body">
        <div class="mensaje_bienvenida">
            <h1>Bienvenido a <em>CasinoLotus</em></h1>
            <h2>Elija el tipo de Sala</h2>
        </div>
        <div class="modos_juegos">
            <div class="modo" (click)="crearSalaPublica()">
                <img class="modo-img-top" src="../../../assets/sources/modo-juego/partida_online.png" alt="Cartas de póker">
                <div class="modo-body">
                    <p class="modo-text">Sala Pública</p>
                </div>
            </div>
            <a [routerLink]="['/juego/creando-sala-privada']" routerLinkActive="router-link-active" >
                <div class="modo">
                    <img class="modo-img-top" src="../../../assets/sources/modo-juego/poker.png" alt="Cartas de póker">
                    <div class="modo-body">
                        <p class="modo-text">Crear Sala Privada</p>
                    </div>
                </div>
            </a>
            <a [routerLink]="['/juego/unirse-sala-privada']">
                <div class="modo">
                    <img class="modo-img-top" src="../../../assets/sources/modo-juego/Partida-privada.png" alt="Fichas de póker">
                    <div class="modo-body">
                        <p class="modo-text">Unirse a Sala Privada</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>