<link rel="stylesheet" href="inicio-seleccion-juego.component.css">

<html>

<header>
    <cabecera></cabecera>    
</header>

<body>
    <div class="div_body">
        <div class="mensaje_bienvenida">
            <h1>Bienvenido a <em>CasinoLotus</em></h1>
            <h2>¿A qué quiere jugar?</h2>
        </div>
        <div class="cards_juegos">
            <div class="card">
                <img class="card-img-top" src="../../../assets/sources/inicio/cartasPoker_01.png" alt="Cartas de póker">
                <div class="card-body">
                    <p class="card-text">Póker</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../../assets/sources/inicio/monedasVirtuales_03.png" alt="Fichas de póker">
                <div class="card-body">
                    <p class="card-text">Blackjack</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>