<main>
    <app-cabecera></app-cabecera>    
    <div class="div_body">
        <div class="mensaje_bienvenida">
            <h1>Bienvenido a <em>CasinoLotus</em></h1>
            <h2>¿A qué desea jugar?</h2>
        </div>
        <div class="cards_juegos">
            <a [routerLink]="['tipo_partida_seleccion']" (click)="pulsarPoker()">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/sources/inicio/cartasPoker_01.png" alt="Cartas de póker">
                    <div class="card-body">
                        <p class="card-text">Póker</p>
                    </div>
                
                </div>
            </a>
            <a [routerLink]="['tipo_partida_seleccion']" (click)="pulsarBlackjack()">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/sources/inicio/monedasVirtuales_03.png" alt="Fichas de póker">
                    <div class="card-body">
                        <p class="card-text">Blackjack</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    @if(hayRecompensa){
        <div class="recompensa">
            <h3>¡Felicidades! Has ganado una recompensa</h3>
            <p>Se te ha recompensado con:</p>
            <img [src]="crearRuta()" alt="Recompensa">
            <button (click)="aceptarRecompensa()">Aceptar</button>
        </div>
    }
</main>