main {
    margin: 0px;
    font-family: var(--text-font);
    font-size: 25px;
    font-weight: 500;
    color: var(--color-secundario);

    padding: 0% 5%;
    height: 12%;
    background-color: var(--color-nav);
    align-content: center;
}

.inicio_header,
.div_usuario_header,
.div_monedas_header {
    display: flex;
    /* Esto hará que los elementos hijos estén en una fila */
    justify-content: space-between;
    /* Ajusta el espacio entre los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.div_titulo_header {
    font-size: 50px;
    font-family: var(--title-font);
    color: var(--color-secundario);

    /*Centrar el titulo en el header*/
    left: 50%;
    transform: translate(-50%, 0%);
}

a {
    text-decoration: none;
    color: var(--color-secundario);

}
.div_usuario_header,
.div_monedas_header {
    gap: 20px;
}

.img_usuario_header {
    height: 4rem;
    border-radius: 100px;
    transition: transform 0.3s ease;
}

.img_usuario_header:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.img_monedas_header {
    height: 70px;
}