@import 'styles.css';

:root {
    --color-principal: #00433D;
    --color-secundario: #FFE5D4;
    --color-acento: #FFBF00;
    --color-nav: #002121;
    --color-txt-secundario: #644C4F;
    --text-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --title-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    overflow: hidden;
}

header {
    font-family: var(--text-font);
    font-size: 25px;
    font-weight: 500;

    padding: 0% 5%;
    height: 12%;
    background-color: var(--color-nav);
    align-content: center;
}

.inicio_header,
.div_usuario_header,
.div_monedas_header {
    display: flex;
    /* Esto hará que los elementos hijos estén en una fila */
    justify-content: space-between;
    /* Ajusta el espacio entre los elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.div_titulo_header {
    position: absolute;
    font-size: 50px;
    font-family: var(--title-font);
    color: var(--color-acento);

    /*Centrar el titulo en el header*/
    left: 50%;
    transform: translate(-50%, 0%);

}

.div_usuario_header,
.div_monedas_header {
    gap: 20px;
}

.img_usuario_header {
    height: 4rem;
    border-radius: 100px;
    transition: transform 0.3s ease;
}

.img_usuario_header:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.img_monedas_header {
    height: 70px;
}