<main class="main">
    <app-cabecera></app-cabecera>
    <app-navegacion-perfil></app-navegacion-perfil>
    <div class="historial">
    @for(partida of partidas; track partida.inicio){
        <div class="div_partida">
            <div class="div_img_partida">
                @if(partida.juego == "Poker"){
                    <img src="../../../assets/sources/inicio/cartasPoker_01.png" alt="Imagen partida">
                }@else {
                    <img src="../../../assets/sources/inicio/monedasVirtuales_03.png" alt="Imagen partida">
                }
            </div>
            <div>
                Partida de {{partida.juego}}
            </div>
            <div>
                {{partida.inicio}}
            </div>
            <div>
                @if(partida.cantidadGanada > 0){
                    Fichas ganadas : <strong>+{{partida.cantidadGanada}}</strong>
                }@else {
                    Fichas perdidas : <strong>{{partida.cantidadGanada}}</strong>
                }
                
            </div>
        </div>
    }
    </div>
</main>