<main>
    <div class="div_body">
        <div class="mensaje_bienvenida">
            <h1>Bienvenido a <em>CasinoLotus</em></h1>
            <h2>¿Tiene ya una cuenta creada?</h2>
        </div>
        <div class="logins_juegos">
        
                <button class="login-button"  (click)="loginWithGoogle()" >
                    <div class="login" >
                        <img class="login-img-top" src="../../../assets/sources/login/google.png" alt="Registrarse con google">
                        <div class="login-body">
                            <p class="login-text">Iniciar Sesion con Google</p>
                        </div>
                    </div>
                </button>
        
        </div>
    </div>
</main>
