<main class="main">
    <nav class = "menu">
        <ul id="lista_nav">
            @if (personal) {
                <li class="pagina"><a>Personal</a></li>
                <li><a>Historial</a></li>
                <li><a>Tienda</a></li>
            }
            @else if (historial) {
                <li><a>Personal</a></li>
                <li class="pagina"><a>Historial</a></li>
                <li><a>Tienda</a></li>
            }
            @else if (tienda) {
                <li><a>Personal</a></li>
                <li><a>Historial</a></li>
                <li class="pagina"><a>Tienda</a></li>
            }
            
        </ul>
    </nav>
</main>